/*general*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .9rem;
}

/*utilities*/

.d-flex {
  display: flex;
}

.debug {
  background-color: aquamarine;
  border: 1px solid black;
}

.container {
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.btn {
  background-color: #0084FD;
  padding: .3rem 3rem;
  color: #FFFFFF;
  border-radius: 50px;
  text-decoration: none;
}

/*header*/

header {
  height: 75px;
  width: 100%;
  background-color: #0084FD;
}

header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

header .container img {
  width: 80px;
}

header .container i {
  font-size: 1.5rem;
}

header .container .menu {
  display: none;
}

header .container .menu ul {
  list-style: none;
}


/*main*/
main {
  height: calc(100vh - 310px);
  overflow: scroll;
}

section {
  /*padding-top: 3rem;*/
  padding-bottom: 3rem;
}


/*section 1 - tools*/

.tools .row {
  margin-top: 50px;
}

.tools .row .col .box {
  width: 100%;
  background: #B5DDFF;
  margin-bottom: 2rem;
  border-radius: 25px;
  padding: 0 2rem;
}

.tools .row .col .box h3 {
  color: #0084FD;
  padding: 1.5rem 0;
  font-size: 1.2rem;
}

.tools .row .col .box p, .strategic .container .row .col .box-right, .testimonials h4, .testimonials>p {
  color: black;
}

.box {
  line-height: 1.5rem;
}

.tools .row .col .box .btn {
  display: inline-block;
  margin: 2rem 0;
}

.tools .row .col .box .btn span {
  font-weight: bold;
  letter-spacing: .1rem;
}

.tools .row .col .box.second-type {
  text-align: center;
}

.tools .row .col .box.second-type i {
  font-size: 5rem;
  color: #0084FD;
  padding-top: 1.5rem;
}

.tools .row .col .box p {
  padding-bottom: 1.5rem;
}

.half-box.d-flex {
  justify-content: center;
}

.tools .row .col .box img {
  max-width: 240px;
}

/*section 2 - strategic*/

.strategic, .benefits, .cta {
  background-color: #9792E4;
}

.strategic .container .row .col .box-right {
  background-color: #FFFFFF;
}


/*section 3 - testimonials*/

.testimonials h3 {
  color: #9792E4;
}

.testimonials .card {
  background-color: #9792E4;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 20px;
}


/*section 4 - benefits*/

.benefits .row .col .box {
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 2rem;
}

.benefits .row .col .box h2, .benefits .row .col .box h4, .about-us h2, .about-us .col.right p {
  color: #9792E4;
}

.benefits .row .col .box p, .about-us p {
  color: black;
}
  

/*footer*/
footer {
  height: 235px;
  background-color: #333333;
}


/*MEDIA QUERY*/

@media screen and (min-width:481px) {
  .container {
    width: 92%;
  }

  .tools .row {
    display: flex;
    flex-wrap: wrap;
  }

  .tools .row .col {
    width: calc(100% / 3);
    padding: 10px;
  }

  .tools .row .col:first-child {
    width: calc(100% * 2 / 3);
  }

  .tools .row .col .box {
    margin-bottom: 0;
  }

  .half-box.d-flex {
    justify-content: flex-start;
  }

  .box.split, .box.second-type {
    height: 100%;
  }

  .tools .row .col .box p {
    font-size: .8rem;
  }

  .testimonials .card {
    flex-wrap: nowrap;
  }

  .benefits .row {
    display: flex;
    flex-wrap: wrap;
  }

  .benefits .row .col {
    width: calc(100% / 2);
    padding: 10px;
  }

  .about-us .row {
    display: flex;
  }

  .about-us .row .col.left {
    width: calc(100% * 2 / 3);
  }

  .about-us .row .col.right {
    width: calc(100% / 3);
  }
}


@media screen and (min-width:769px) {
  .container {
    width: 60%;
  }

  header .container .menu {
    display: flex;
  }

  header .container i {
    display: none;
  }

  .tools .row .col .box.split {
    display: flex;
  }

  .tools .row .col .box .half-box.d-flex {
    width: 50%;
    text-align: center;
  }

  .tools .row .col .box .half-box.text {
    text-align: left;
  }

  .strategic .container {
    width: 50%;
  }

  .strategic .container .row {
    display: flex;
    align-items: flex-end;
  }

  .strategic .container .row .col {
    width: 50%;
  }

  .benefits .row .col {
    width: calc(100% / 3);
  }
}
